<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name" >Artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
